/*
 *  Basic Configuration
 */
html {
    height: 100%;
    width: 100%;
}
body {
    background: #E5E8ED;
    text-align: center;
    font-family: "Microsoft YaHei", "WenQuanYi MicroHei", "Hiragino Sans", "Sans Serif";
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
a {
    color: #0074d9;
    text-decoration: none;
}
a:visited {
    color: #0074d9;
}
h1 {
    color: #999;
    font-size: 50px;
    letter-spacing: -1px;
    text-transform: capitalize;
    font-family: "Open Sans";
}
h2 {
    color: #888;
    font-size: 20px;
}
ul {
    list-style: none;
}
li {
    text-align: left;
    margin: 10px auto;
    width: 500px;
}


/*
 *  Configuration
 */
.main {
    margin-top: 100px;
}
.github {
    margin-top: 50px;
    margin-bottom: 50px;
    display: inline-block;
    text-decoration: none;
    padding: 20px 18px;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 22px;
    background-color: #ffa500; 
    color: blue;
}
.github:hover {
    color: gray;
    opacity: 0.7;
}
.aboutus {
    margin-bottom: 100px;
}
.question {
    font-size: 24px;
    color: #3D9970;
}
.answer {
    text-indent: 30px;
    color: gray;
}
#footer {
    height: 100px;
    background-color: black;
    text-align: center;
}
#footer p {
    display: inline-block;
    margin-top: 34px;
    color: white;
}
