html {
    height: 100%;
}
body {
    background: #E2E4E7;
    padding: 0;
    text-align: center;
    font-family: 'open sans';
    position: relative;
    margin: 0;
    height: 100%;
    -webkit-font-smoothing: antialiased;
}
.wrapper {
    height: 100% !important;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}
a {
    text-decoration: none;
}
h1,
h2 {
    width: 100%;
    float: left;
}
h1 {
    margin-top: 100px;
    color: #000;
    margin-bottom: 5px;
    font-size: 70px;
    letter-spacing: -4px;
    font-weight: 100;
}
h1 span {
    font-size: 26px;
    margin: 0 5px;
    text-transform: capitalize;
    background: rgba(0, 0, 0, 0.85);
    display: inline-block;
    color: #6D461D;
    border-radius: 5px 5px;
    -webkit-border-radius: 5px 5px;
    -moz-border-radius: 5px 5px;
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.75);
    padding: 3px 10px;
}
h2 {
    color: #6D461D;
    font-weight: 100;
    margin-top: 0;
    margin-bottom: 10px;
}
.pointer {
    color: #9b59b6;
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    margin-top: 15px;
}






.main {
    float: left;
    width: 100%;
    margin: 0 auto;
}
.main h1 {
    padding: 150px 50px;
    float: left;
    width: 100%;
    font-size: 45px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-weight: 100;
    color: white;
    margin: 0;
    font-weight:bold;
}

.main section .page_container {
    position: relative;
    top: 25%;
    margin: 0 auto 0;
    max-width: 950px;
    z-index: 3;
}
.main section {
    overflow: hidden;
}
.main section > img {
    /*position: absolute; */
    max-width: 100%;
    z-index: 1;
}
.main section.name {
    background: #fff;
}
.main section.name h1 {
    text-align: left;
    padding: 0;
    margin-bottom: 15px;
    font-size: 70px;
    color: black;
}
.main section.name h2 {
    color: rgba(0, 0, 0, 0.85);
    text-align: center;
    width: 435px;
    line-height: 160%;
}



.main section.brief {
    background: #555557;
}
.main section.brief .page_container {
    margin-top: 10px;
    overflow: hidden;
}
.main section.brief h1 {
    text-align: center;
    padding: 0;
    margin-bottom: 15px;
    font-size: 50px;
    letter-spacing: -1px;
    color: white;
}
.main section.brief h2 {
    color: rgba(255, 255, 255, 0.85);
    text-align: center;
    line-height: 160%;
    font-weight: 100;
}
.viewing-page-2 .back {
    background: rgba(0, 0, 0, 0.25);
    color: #FFF;
}
.main section.physics {
    background: url(../img/gravity-physics2.jpg) no-repeat right bottom;
    color:#daf7de;
}

.main section.physics h1 {
    text-align: left;
    padding: 0;
    margin-bottom: 0;
    font-size: 70px;
    letter-spacing: -1px;
    color: white;
}
.main section.physics h2 {
    text-align: left;
    line-height: 160%;
    font-weight: 100;
    font-size: 21px;
    color:#daf7de;
}



.main section.writing {
	background:#3C5A4A;
}

.main section.writing h1 {
    text-align: right;
    padding: 0;
    margin-bottom: 0;
    font-size: 70px;
    letter-spacing: -1px;
    color: white;
}
.main section.writing h2 {
    text-align: right;
    line-height: 160%;
    font-weight: 100;
    font-size: 21px;
    color:#fffbe4;
}

.main section.writing a {
text-decoration:none;
    color:white;
}



.main section.coding {
	background:#3C4B5A;
}

.main section.coding h1 {
    text-align: left;
    padding: 0;
    margin-bottom: 0;
    font-size: 70px;
    letter-spacing: -1px;
    color: white;
}
.main section.coding h2 {
    text-align: left;
    line-height: 160%;
    font-weight: 100;
    font-size: 21px;
    color:#fffbe4;
}

.main section.coding a {
text-decoration:none;
    color:white;
}

.main section.links {
background:black;
}
.main section.links h1 {
    text-align: center;
    padding: 0;
    margin-bottom: 0;
    font-size: 70px;
    letter-spacing: -1px;
    color: white;
}



#linksbox .icons {
padding: 0.75em 2em 0.75em 2em;
border-radius: 3em;
border: solid 1px #fff;
display: inline-block;
margin: 0 0 3em 0;
}

#linksbox a {
color: #fff;
text-shadow: 0 0 0.5px rgba(255,255,255,0.25);
border-bottom-color: rgba(255,255,255,0.5);
}


#linksbox ul.icons li {
display: inline-block;
}

/* Text background and textcolor */

.bgGreen {
background:#daf7de;
}

.txtGreen {
color:#daf7de;
}

.txtOrange {
color:#FFEEDB;
}

.txtYellow {
color:#fffbe4;
}

.txtBlue {
color:#daecff;
}






body.disabled-onepage-scroll .onepage-wrapper section {
    min-height: 100%;
    height: auto;
}
body.disabled-onepage-scroll .main section .page_container,
body.disabled-onepage-scroll .main section.page3 .page_container {
    padding: 20px;
    margin-top: 150px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body.disabled-onepage-scroll section .page_container h1 {
    text-align: center;
    font-size: 50px;
}
body.disabled-onepage-scroll section .page_container h2,
body.disabled-onepage-scroll section .page_container .credit,
body.disabled-onepage-scroll section .page_container .btns {
    text-align: center;
    width: 100%;
}
body.disabled-onepage-scroll .main section.page1 > img {
    position: absolute;
    width: 80%;
    left: 10%;
}
body.disabled-onepage-scroll .main section > img {
    position: relative;
    max-width: 80%;
    bottom: 0;
}
body.disabled-onepage-scroll code {
    width: 95%;
    margin: 0 auto 25px;
    float: none;
    overflow: hidden;
}
body.disabled-onepage-scroll .main section.page3 .page_container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    right: 0;
}